body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

label {
    font-weight: bold;
}

textarea {
    height: 90px;
    width: 682px;
}

/* GENERAL */

.spinner {
    position: absolute;
    right: 0;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 a, h4 a {
    color: #111;
}

input:-moz-placeholder, select:-moz-placeholder, textarea:-moz-placeholder {
    color: #ACA899;
}

.footer {
    padding: 20px 0 36px;
}

.centered, td.centered {
    text-align: center;
}

.clearing {
    clear: both;
}

.disabled {
    color: #BBB;
}

/* NAVIGATION MENU */

.breadcrumbs {
    font-size: 0.9em;
    margin: -5px 0 20px 0;
    padding: 0 1em;
}

.breadcrumbs *, .breadcrumbs a:hover {
    color: #888;
}

.breadcrumbs * {
    font-size: inherit;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}

div.errors ul {
    list-style: none;
    padding: 0;
}

div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0 no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}

td.errors input {
    border: 1px solid red;
}

td.errors textarea {
    border: 1px solid red;
}

/* TABLES */

table.details {
    width: 100%;
}

table.details tr td {
    background-color: #FFF;
}

table.details tr td, table.details tr th {
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}

th a:link, th a:visited, th a:hover {
    color: #333;
    text-decoration: none;
    width: 100%;
}

.prop {
    padding: 5px;
}

.prop .name {
    color: #888;
    text-align: left;
    width: 15%;
    white-space: nowrap;
}

.prop .value {
    text-align: left;
    width: 85%;
}

/*
 * Table that mimics an ordered list
 */
table.ol {
    margin: 0;
    padding: 0;
    width: auto;
}

table.ol tr td {
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

table.ol td.olIndex {
    padding-right: 0.5em;
}

table.ol td.olContent {
    padding-right: 0.5em;
}

/**
 * Show more records button
 */
.showMoreButton {
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 0;
    text-align: center;
    vertical-align: middle;
}

.showMoreButton:hover {
    background-color: #eeeeee;
}

.showMoreButton, .showMoreButton * {
    color: #a6a6a6;
    font-size: 11px;
}

/**
 * Other Elements
 */
div.sectionHeader {
    background: linear-gradient(#FAFAFA, #EAEAEA);
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -ms-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #EAEAEA));
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    background: -o-linear-gradient(#FAFAFA, #EAEAEA);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fafafa', endColorstr = '#eaeaea');
    background: linear-gradient(#FAFAFA, #EAEAEA);
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
    height: 22px;
    margin: 1em -10px;
    padding: 0.8em 0.8em 1em 0.8em;
}

div.sectionHeader div.text {
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 1em;
}

div.sectionHeader div.actions {
    float: right;
}

div.sectionHeader div.actions a {
    line-height: 1em;
    padding-left: 1em;
}

/*
 * Activity styles.
 */
.activityDateOccurred {
    color: #bbb;
    font-size: 0.9em;
}

.activityUsername {
    color: #111;
    font-weight: bold;
    padding-right: 1em;
}

.ui-widget p {
    margin: 12px 0;
    padding: 0;
}

.ui-datepicker-week-end a.ui-state-default {
    background: white;
    border: 1px solid #E6E6E6;
}
