* {
    color: #333;
    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.3;
    margin: 0;
    padding: 0; /* SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
    padding: 0;
}

#grailsLogo {
    padding: 20px;
}

/* These two rules ensure that links in tabs have the correct coloring and not the jQuery UI theme colors. */
div.tab a {
    color: rgb(0, 0, 204);
}

div.tab a:visited {
    color: rgb(128, 0, 128);
}

a:link, a:visited {
    text-decoration: none;
}

a {
    color: rgb(65, 131, 196);
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0.3em 0 0 0;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0.8em 0 0.3em 0;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0.8em 0 0.3em 0;
}

h3 * {
    font-weight: bold;
}

h4 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.3em 0;
}

h4 * {
    font-weight: bold;
}

h4.applicationReleaseNumber {
    margin: 0;
}

h3 a {
    color: #000;
    text-decoration: none;
}

h3 a:hover {
    text-decoration: underline;
}

ol, ul {
    padding: 0.2em 0.2em 0.2em 2.5em;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    margin: 2px 0;
    padding: 2px 4px;
}

select {
    padding: 2px 2px 2px 0;
}

strong {
    font-weight: bold;
}

textarea {
    width: 250px;
    height: 150px;
    vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

p {
    padding: 0 0 1em 0;
}

.body {
    margin: 0 auto;
    width: 900px;

    /*float: left;*/
    /*margin: 0 15px 10px 15px;*/
    min-height: 40em;
}

.footer {
    color: #999;
    text-align: center;
    margin-top: 1em;
}

.centered {
    text-align: center;
}

.clearing {
    clear: both;
}

hr.divider {
    border: 0;
    height: 1px;
    background-color: rgb(234, 234, 234);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* NAVIGATION MENU */

.breadcrumbs {
    color: #888;
    margin-bottom: 10px;
    padding: 0 1em;
}

.breadcrumbs, .breadcrumbs * {
    font-size: 11px;
}

.breadcrumbs a {
    color: #888;
}

.breadcrumbs .spacer {
    color: #BBB;
}

.nav {
    /*background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;*/
    /*border: 1px solid #ccc;*/
    /*border-style: solid none solid none;*/
    margin: 5px 0;
    padding: 7px 12px;
}

.menuButton {
    font-size: 0.9em;
    padding: 0 5px;
}

.menuButton a {
    padding: 4px 6px;
}

.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    padding-left: 25px;
}

.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    padding-left: 25px;
}

.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.emphasis {
    font-style: italic;
}

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}

div.errors ul {
    list-style: none;
    padding: 0;
}

div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0 no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}

td.errors input {
    border: 1px solid red;
}

td.errors textarea {
    border: 1px solid red;
}

/* TABLES */

table {
    /*border: 1px solid #ccc;*/
    /*width: 100%*/
}

table.details {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

tr {
    border: 0;
}

td, th {
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}

th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #333;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}

th * {
    font-weight: bold;
}

th a:link, th a:visited, th a:hover {
    color: #333;
    /*display: block;*/
    /*font-size: 0.9em;*/
    text-decoration: none;
    width: 100%;
}

th.asc a, th.desc a {
    background: no-repeat right;
}

th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}

.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
    width: 100%;
}

.list th, .list td {
    border-left: 1px solid #ddd;
}

.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 0.9em;
    overflow: hidden;
    padding: 10px 3px;
}

.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-top-color: #ccc;
    border-right-color: #aaa;
    border-left-color: #ccc;
    border-bottom-color: #aaa;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}

.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog {
    margin: 1em 0 2em 0;
}

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}

.prop .name {
    color: #888;
    text-align: left;
    width: 15%;
    white-space: nowrap;
}

.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    /*background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;*/
    /*border: 1px solid #ccc;*/
    color: #666;
    font-size: 0.9em;
    /*height: 20px;*/
    margin-top: 10px;
    /*overflow: hidden;*/
    /*padding: 0;*/
}

.buttons input, .buttons a {
    background: #fff;
    border: 0;
    cursor: pointer;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}

.buttons input {
    border: 1px solid #ccc;
    padding: 5px;
}

.buttons a.delete, .buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons a.edit, .buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    font-weight: bold;
    padding-left: 28px;
}

.buttons a {
    margin-left: 3px;
    text-decoration: none;
}

/*
 * Two column layout
 */
.twoColumnLayout {
    width: 100%;
}

.twoColumnLayout .layoutColumnFirst, .twoColumnLayout .layoutColumnLast {
    width: 50%;
}

.layoutColumnFirst {
    padding: 0 1em 0 0;
}

.layoutColumnLast {
    padding: 0 0 1em;
}

/*
 * Table that mimics an ordered list
 */
table.ol {
    margin: 0;
    padding: 0;
}

table.ol td {
    margin: 0;
    padding: 0;
}

table.ol td.olIndex {
    padding-right: 0.5em;
}

table.ol td.olContent {
    padding-right: 0.5em;
}

a.reorderLink {
    text-decoration: none;
}

a.showHideDetails {
    display: inline-block;
    margin: 0.5em;
}

/*
 * Menu block
 */
#topMenu {
    background: linear-gradient(#FAFAFA, #EAEAEA);
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -ms-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #EAEAEA));
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    background: -o-linear-gradient(#FAFAFA, #EAEAEA);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
    background: linear-gradient(#FAFAFA, #EAEAEA);
    background-color: #F8F8F8;
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);

    height: 35px;
    margin: 0;
    padding-top: 8px;
    position: relative;
}

#topMenu a {
    color: rgb(34, 34, 34);
    display: block;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0;
    text-decoration: none;
}

#topMenu a:hover {
    color: rgb(65, 131, 196);
}

#topMenu ul {
    float: left;
    line-height: 26px;
    list-style: outside none none;
    margin: 0 0 0 20px;
}

#topMenu li {
    float: left;
    margin: 0 20px 0 0;
}

/**
 * Other Elements
 */
.sectionHeader {
    background: linear-gradient(#FAFAFA, #EAEAEA);
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -ms-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #EAEAEA));
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    background: -o-linear-gradient(#FAFAFA, #EAEAEA);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
    background: linear-gradient(#FAFAFA, #EAEAEA);
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0.5em 0.7em;
}

.sectionHeader span.actions {
    float: right;
    padding-top: 2px;
}

.detailProp {
    display: none;
}
